apiVersion: v1
kind: Service
metadata:
  name: booking-service
  namespace: bookify
spec:
  type: NodePort
  selector:
    app: booking-service
  ports:
    - name: http
      port: 8000
      targetPort: 8000
      nodePort: 30082

