apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: bookify
spec:
  type: NodePort
  selector:
    app: frontend-service      
  ports:
    - name: http
      port: 8000
      targetPort: 8000
      nodePort: 30083
