apiVersion: v1
kind: Service
metadata:
  name: search-service
  namespace: bookify
spec:
  type: NodePort
  selector:
    app: search-service
  ports:
    - name: http
      port: 8000
      targetPort: 8000
      nodePort: 30084

